.is-visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px; width: 1px; 
    margin: -1px; padding: 0; border: 0; 
}

.u-padding-right--sm {
    padding-right: var(--gap-sm);
}

.u-font-bold {
    font-weight: bold;
}