html {
    font-size: 62.5%;
}
body {
    font-family: 'Segoe UI', sans-serif;
    font-size: 1.6rem;
}
button {
    padding: 0;
    background-color: transparent;
    border: none;
    font-size: inherit;
}

@mixin grid($rows) {
    grid-template-columns: repeat($rows, 1fr);
    grid-template-rows: repeat($rows, 300px/$rows);
}


$border: 1px solid #000;
.c-grid {
    display: grid;
    max-width: 300px;
    margin: auto;
    border-top: $border;
    border-left: $border;
    font-size: 25px;

    &.is-disabled {
        button {
            pointer-events: none;
        }
    }
    &.has-9-rows {
        @include grid(9);
    }
}
.c-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: $border;
    border-bottom: $border;
    background-color: #EEE;

    &[disabled] {
        pointer-events: none;
    }
    &.is-revealed {
        background-color: #FFF;
    }
    &.has-mine {
        background-color: red;
        color: #FFF;
    }
}