html,
body {
    height: 100%;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
body {
    display: flex;
    min-width: 240px;
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    font-size: 1.6rem;
}
button {
    padding: 0;
    background-color: transparent;
    border: none;
    font-size: inherit;
}

@mixin grid($rows) {
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
}


$border: 1px solid #000;
.c-grid {
    display: grid;
    width: 400px;
    height: 400px;
    margin: auto;
    border-top: $border;
    border-left: $border;
    font-size: 25px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    &.is-disabled {
        button {
            pointer-events: none;
        }
    }
    &.has-9-rows {
        @include grid(9);
    }

    @media (max-width: 420px) {
        width: 300px;
        height: 300px;
    }
    @media (max-width: 300px) {
        width: 240px;
        height: 240px;
    }
}
.c-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: $border;
    border-bottom: $border;
    background-color: #EEE;

    &[disabled] {
        pointer-events: none;
    }
    &.is-revealed {
        background-color: #FFF;
    }
    &.has-mine {
        background-color: red;
        color: #FFF;
        &:before {
            content: '☼';
        }
    }
    &.has-flag {
        background-color: yellow;
        &:before {
            content: '⚑';
        }
    }
}